.home {
  height: 100%;
}
.c-button{
  display: flex;
  align-items: center;
  color: #202020;
  fill: #fff;
  width: 50px;
  height: 50px;
  margin-right: 0.25rem;
  font-style: normal;
  margin:10px;
  //border: 1px solid black;
}